<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=divice-width , initial-scale=1.0">
  <%= stylesheet_link_tag "style1.css" %>
  <%= javascript_include_tag "script1.js" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<div  style="margin: 50px" align="center" class=" jumbotron">
  <table rows="9" cols="2 " cellspacing="10" >
    <form method="get" action="data" onsubmit="return f();">
    <tr><th style="font-family: cooper;font-size: 3em;" class="text-center" colspan="2">Sign UP</th></tr>
    <tr>

      <td colspan="2">
        <input type="text"  id="fn" placeholder="First Name" name="fn" class="in-field"/><br>
      </td>
    </tr>


      <tr>

        <td colspan="2">
          <input type="text"  id="ln" placeholder="Last Name" name="ln" class="in-field"/><br>
        </td>
      </tr>


      <tr>

        <td colspan="2">
          <input type="text"  id="email" placeholder="Email" name="email" class="in-field"/><br>
        </td>
      </tr>

      <tr>

        <td colspan="2">
          <input type="password"  id="pass" placeholder="Password"  name="pass" class="in-field"/><br>
        </td>
      </tr>


      <tr>

        <td colspan="2">
          <input type="password"  id="c_pass" placeholder="Confirm Password" class="in-field"/><br>
        </td>
      </tr>


      <tr>

        <td colspan="2" style="text-align: center">
          <input type="submit" value="Sign Up" onclick="f();" class=""/><br>
        </td>
      </tr>
<tr>
  <td colspan="2"><span>Already Register</span><%= link_to "Log in" , user_login_path %></td>
</tr>
    </form>
  </table>
</div>
</body>
</html>