span{
    font-family: "Arial Black";
    font-size: 1em;
    margin-right:0.5em;
}
input{
    border-radius: 5px;
    outline: none;
    font-family: "Arial Black";
    margin-top: 0.3em;
    text-align: center;
    color:solid gray;
}